*{
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,0.9557948179271709) 0%, rgba(9,81,121,1) 35%, rgba(0,224,255,1) 100%);
}
/*Navbar*/
.logo-img{
    height: 50px;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}
.navbar{
    display: flex;
    justify-content: center;
    background: rgba(9,81,121,1);
}
.navbar-brand{
   text-transform: uppercase; 
   font-size: 12px;
   
}
#text{
    color: white;
}
/*Rule*/
#rules{
color: white;
text-transform: uppercase;
border-radius: 8px;
border-color: rgba(9,81,121,1);
margin-top: 80px;
height: 45px;
width: 100px;
font-size: 12px;
background: #af3b2e;

}
.ruleContainer{
    display: grid;
    place-items: center;
    margin-top: 20px;
}
#gameRule{
    background-color: rgba(9,81,121,1);
    /*display: none;*/
    height: 230px;
    width: 55%;
    border-radius: 8px;
    
}
h2{
    color: white;
    text-transform: uppercase;
    font-size: medium;
   text-align: center;
}
.ruleText{
    color: white;
    font-size: 12px;
    text-align: justify;
}

/*Player 1,2*/
.container-md{
    height: 50vh;
    width: 100%;
    margin-top: 10%;
    
}

.text-player1,
.text-player2 {
   /* border: 1px solid red;*/
    font-size: 25px;
    line-height: 58px;
    color: white;
    text-transform: uppercase;
    text-align: center;


}
.name-player2,
.number-play2,
.number-current2{
color: #030303;
}


.number-play1,
.number-play2{
    color: white;
    font-size: 20px;
    margin-top:10px;
    text-align: center;

}
.current1,
.current2{
    /*border: 1px solid green;*/
    width: 120px;
    height: 100px;
    line-height: 58px;
    background: #e8c837;
    border-radius: 8px;
    text-align: center;
}

.current1,
.current2{
    margin: 0 auto; 
}
/*Rolldice*/
.new-game,
#rollDice1,
#hold1{
    color: white;
    text-transform: uppercase;
    border-radius: 8px;
    height: 45px;
    width: 100px;
    font-size: 12px;
    background: #af3b2e;
    
 }
 #rollDice1,
 #hold1{
    display: block;
 }

 /* btn*/
#btn1{
   display: grid;
    place-items: center;

}
#dice0{
    height: 50px; 
}
  @media screen and (max-width: 576px) {  
    #btn1{
       
        display: flex;
        justify-content: center;
        margin-top: 10px;

    }
    .container-md{
                
                margin-top: 20%;
                
            }
            .name-player2,
            .number-play2{
                color: white;
            }
        }

    
/*current 1 2*/
.text-current1,
.text-current2{
    font-size: 25px;
    color: #af3b2e;

}
.number-current1,
.number-current2 {
 font-size: 25px;
 color: white;
}
.number-play2{
    color: #000;
}